.phone-box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 350px;
    border-radius: 30px;
    padding: 20px;
}